.Index
  = form_with(url: search_past_movies_path, local: true, method: 'get', class: "SearchBox") do |f|
    .InputBox
      = f.search_field :keyword, placeholder: "タイトル検索", class: "SearchBox__input"
      %icon.fas.fa-search.black
  .Content