%h2 Groups
.GroupsContent
  %ul.GroupList
    - @groups.each do |group|
      %li.GroupList__item
        = link_to group_path(group.id), class: "group_name black" do
          = group.name
        -# = link_to group_path(group.id), class: "destroy_btn black", method: :delete do
        
  = link_to new_group_path do
    %icon.fas.fa-plus