%h2= @group.name
.Index
  .ShowGroupContent
    - @group.past_movies.each do |movie|
      .Contents
        .Contents__item
          = link_to past_movie_path(movie.id), method: "get" do
            = image_tag movie.image.to_s, class: "Contents__item__image"