// Place all the styles related to the past_movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

// --------top--------
.TopContent {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  .TopMessage {
    padding-top: 100px;
    font-size: 20px;
  }
  .TopBtn {
    margin-top: 80px;
    &__btn {
      display: inline-block;
      background-color: black;
      padding: 10px 0px;
      width: 200px;
      border-radius: 3px;
      box-shadow: 1px 1px 10px slategray;
      color: yellow;
      margin-right: 30px;
    }
  }
}

// --------index--------

.Index {
  margin: 0 auto;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 80px;
  align-items: center;
  .Content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: scroll;
    background-color: yellow;
    padding-bottom: 100px;
    .Contents {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      &__item {
        margin: 0 auto;
        &__image {
          display: inline-block;
          border: 0.5px solid rgb(194, 194, 194);
          margin: 10px auto;
          box-shadow: 1px 1px 10px slategray;
        }
        &__image:hover {
          box-shadow: 2px 2px 5px steelblue;
        }
        &__title {
          padding-bottom: 7px;
          color: black;
        }
      }
    }
  }
  .ErrorMsg {
    font-size: 40px;
    text-align: center;
  }
}

// --------show--------

.Show {
  margin-top: 40px;
  margin: 0 auto;
  height: 100vh;
  &__content {
    margin: 0 auto;
    width: 80%;
    .ShowBox {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      &__img {
        border: 0.5px solid rgb(194, 194, 194);
        box-shadow: 1px 1px 10px slategray;
        margin-right: 15px;
        height: 302px;
      }
      &__list {
        &--border {
          border-bottom: 1px solid gray;
          width: 400px;
          margin-bottom: 15px;
          margin-left: 5px;
        }
        &--color {
          color: gray;
          font-size: 12px;
        }
        &--link {
          color: skyblue;
          display: inline-block;
          margin-right: 7px;
        }
      }
    }
    .ShowBtn {
      margin: 30px auto;
      width: 70%;
      display: flex;
      justify-content: center;
      &__edit {
        display: inline-block;
        background-color: black;
        padding: 10px 50px;
        border-radius: 3px;
        box-shadow: 1px 1px 10px slategray;
        color: yellow;
      }
      &__destroy {
        display: inline-block;
        cursor: pointer;
        background-color: rgb(235, 133, 133);
        margin-left: 15px;
        padding: 10px 40px;
        border-radius: 3px;
        box-shadow: 1px 1px 10px slategray;
        color: seashell;
      }
    }
  }
}

// --------search--------

.SearchBox {
  margin: 40px auto;
  width: 60%;
  .InputBox {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    height: 40px;
    position: relative;
    .SearchBox__input {
      height: 100%;
      width: 100%;
      border-radius: 3px;
      border: 0.5px solid gray;
      box-shadow: 1px 1px 10px slategray;
      padding: 5px;
    }
    .black {
      display: inline-block;
      color: silver;
      font-size: 25px;
      position: absolute;
      top: 8px;
      right: 20px;
    }
  }
  
}

// --------form--------

.Form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin: 0 auto;
  align-items: center;
  width: 60vw;
  height: 100vh;
  &__input {
    width: 500px;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 10px slategray;
  }
  .review {
    height: 200px;
  }
  .image_input {
    border: 0.5px solid gray;
    border-radius: 3px;
    background-color: white;
    color: gray;
  }
  &__submit {
    width: 130px;
    padding: 10px;
    margin-top: 10px;
    color: yellow;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px slategray;
    background-color: black;
  }
}

#overlay {
  //モーダルウィンドウの背景を設定
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  //透過度をつける
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 11;
  }
  
  #modalWindow {
  // モーダルウィンドウの画面を設定(高さ・幅は調整ください)
    width: 300px;
    height: 150px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px slategray;
    position: absolute;
  //トップからの場所を指定（topをいじれば高さが調整できます）
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
  //flexboxで子要素のボタンとメッセージボックスの要素を配置する
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .modal-message-box {
      width: 100%;
  //下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
      height: calc(100% - 60px);
      text-align: center;
  //flexboxで文字の配置を決める（縦方向、中央揃え）
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  
    #modal-close-btn {
      width: 45%;
      margin-left: 10px;
      height: 30px;
      border: none;
      background-color: skyblue;
      border-radius: 3px;
      box-shadow: 1px 1px 10px slategray;
      color: white;
      cursor: pointer;
    }
  
    #delete-comformation-btn {
      width: 45%;
      margin-right: 10px;
      height: 30px;
      border: none;
      background-color: tomato;
      border-radius: 3px;
      box-shadow: 1px 1px 10px slategray;
      color: white;
      cursor: pointer;
    }
  }
  
  .item-delete-btn {
  //削除ボタンの非表示
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }